USE [master]
GO
/****** Object:  Database [facturation]    Script Date: 26/10/2018 09:24:18 ******/
CREATE DATABASE [facturation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'facturation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\facturation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'facturation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\facturation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [facturation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [facturation]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 26/10/2018 09:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[client_id] [uniqueidentifier] NOT NULL,
	[client_nom] [nvarchar](max) NOT NULL,
	[client_prenom] [nvarchar](max) NOT NULL,
	[client_telephone] [nvarchar](max) NOT NULL,
	[client_adresse] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURE2]    Script Date: 26/10/2018 09:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURE2](
	[facture_id] [uniqueidentifier] NOT NULL,
	[client_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FACTURE2] PRIMARY KEY CLUSTERED 
(
	[facture_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT]    Script Date: 26/10/2018 09:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT](
	[produit_id] [uniqueidentifier] NOT NULL,
	[produit_libelle] [nvarchar](max) NOT NULL,
	[produit_prix] [float] NOT NULL,
 CONSTRAINT [PK_PRODUIT] PRIMARY KEY CLUSTERED 
(
	[produit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT_FACTURE]    Script Date: 26/10/2018 09:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT_FACTURE](
	[pf_id] [uniqueidentifier] NOT NULL,
	[pf_qte] [int] NOT NULL,
	[facture_id] [uniqueidentifier] NOT NULL,
	[produit_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_produit_facture] PRIMARY KEY CLUSTERED 
(
	[pf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACTURE2]  WITH CHECK ADD  CONSTRAINT [fk_clientfacture] FOREIGN KEY([client_id])
REFERENCES [dbo].[CLIENT] ([client_id])
GO
ALTER TABLE [dbo].[FACTURE2] CHECK CONSTRAINT [fk_clientfacture]
GO
ALTER TABLE [dbo].[PRODUIT_FACTURE]  WITH CHECK ADD  CONSTRAINT [fk_pf] FOREIGN KEY([facture_id])
REFERENCES [dbo].[FACTURE2] ([facture_id])
GO
ALTER TABLE [dbo].[PRODUIT_FACTURE] CHECK CONSTRAINT [fk_pf]
GO
ALTER TABLE [dbo].[PRODUIT_FACTURE]  WITH CHECK ADD  CONSTRAINT [fk_pfproduit] FOREIGN KEY([produit_id])
REFERENCES [dbo].[PRODUIT] ([produit_id])
GO
ALTER TABLE [dbo].[PRODUIT_FACTURE] CHECK CONSTRAINT [fk_pfproduit]
GO
USE [master]
GO
